/* mixin usage */
/*--------------------------------
	Responsive ratio
	Used for creating scalable elements that maintain the same ratio
	example:
	.element {
		@include responsive-ratio(400, 300);
	}
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
}

img {
  display: block;
  max-width: 100%;
}

h1,
p,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1190px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.text-holder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

.btn {
  display: inline-block;
  font-family: "DM Mono", monospace;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  color: #000;
  padding: 17px 40px 27px;
  background: #8DFD1B;
  transition: all ease-in-out 0.3s;
}
.btn:hover {
  background-color: #8d0303;
  color: yellow;
  font-weight: 500;
  font-size: 20px;
}

.header {
  font-family: "DM Mono", monospace;
  padding: 0 15px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #000;
}
.header .container {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
}
.header.active {
  height: 100vh;
  background-color: #000;
}
.header.active .nav-holder {
  opacity: 1;
  visibility: visible;
}
.header.active .nav-opener span {
  opacity: 0;
  visibility: hidden;
}
.header.active .nav-opener::before {
  transform: rotate(45deg);
  top: 15px;
}
.header.active .nav-opener::after {
  transform: rotate(-45deg);
  bottom: 14px;
}

.nav-holder {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  transition: all ease-in-out 0.3s;
}
@media (min-width: 1024px) {
  .nav-holder {
    transform: translate(0, 0);
    display: flex;
    opacity: 1;
    visibility: visible;
    position: static;
    height: auto;
  }
}

.nav {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
@media (min-width: 1025px) {
  .nav {
    padding-right: 230px;
    justify-content: unset;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1025px) {
  .nav-list {
    display: flex;
    flex-direction: row;
  }
}

.nav-item {
  padding: 0 20px;
  text-align: center;
  margin-bottom: 15px;
}
@media (min-width: 1025px) {
  .nav-item {
    margin-bottom: 0;
  }
}

.nav-link {
  color: #fff;
  font-weight: 400;
  font-size: 28px;
  transition: all ease-in-out 0.3s;
}
@media (min-width: 1025px) {
  .nav-link {
    font-size: 16px;
  }
}
.nav-link:hover {
  color: aqua;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-item {
  padding-left: 0;
}
@media (min-width: 769px) {
  .list-item {
    padding-left: 12px;
  }
}

.nav-opener {
  background-color: #000;
  border: none;
  position: relative;
  z-index: 2;
  width: 40px;
  height: 30px;
}
@media (min-width: 1024px) {
  .nav-opener {
    display: none;
  }
}
.nav-opener::before, .nav-opener::after,
.nav-opener span {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 1px;
  background-color: #fff;
  transition: all ease-in-out 0.3s;
}
.nav-opener::before {
  top: 0;
}
.nav-opener::after {
  bottom: 0;
}
.nav-opener span {
  top: 50%;
  transform: translateY(-50%);
}

.hero-section {
  padding-top: 80px;
  color: #fff;
}
@media (min-width: 1025px) {
  .hero-section {
    padding-top: 50px;
  }
}
.hero-section .container {
  max-width: 1373px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1025px) {
  .hero-section .container {
    flex-direction: row;
  }
}

@media (min-width: 1025px) {
  .flex-item:first-of-type {
    width: 40%;
    padding-top: 80px;
  }
}
.flex-item:first-of-type .text-holder {
  padding: 23px 16px 15px 16px;
}
@media (min-width: 1025px) {
  .flex-item:first-of-type .text-holder {
    padding: 43px 163px 115px 0;
  }
}
@media (min-width: 1025px) {
  .flex-item:last-of-type {
    width: 60%;
  }
}

.title-holder {
  font-family: "Audiowide", cursive;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 1025px) {
  .title-holder {
    text-align: left;
    font-size: 36px;
    line-height: 46px;
  }
}

.btn-holder {
  text-align: center;
}
@media (min-width: 1025px) {
  .btn-holder {
    text-align: left;
  }
}

.wave-section .container {
  max-width: 1373px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1025px) {
  .wave-section .container {
    flex-direction: row;
  }
}
.wave-section .container .flex-item:last-of-type {
  padding-top: 24px;
}
@media (min-width: 1025px) {
  .wave-section .container .flex-item:last-of-type {
    padding-top: 124px;
  }
}
.wave-section .container .flex-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .wave-section .container .flex-item {
    display: block;
  }
}
.wave-section .text-holder {
  padding: 15px 20px;
  font-size: 14px;
}
.wave-section .text-holder p {
  margin-bottom: 18px;
}
@media (min-width: 769px) {
  .wave-section .text-holder {
    font-size: 16px;
  }
}
@media (min-width: 1025px) {
  .wave-section .text-holder {
    padding: 32px 213px 18px 0;
  }
}

.titles-holder {
  font-family: "Audiowide", cursive;
  padding: 20px;
  text-align: center;
}
@media (min-width: 1025px) {
  .titles-holder {
    padding: 41px 163px 41px 63px;
    text-align: left;
  }
}
.titles-holder h2 {
  font-size: 24px;
  line-height: 25px;
  color: #fff;
  text-transform: uppercase;
}
@media (min-width: 769px) {
  .titles-holder h2 {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (min-width: 1025px) {
  .titles-holder h2 {
    font-size: 38px;
    line-height: 45px;
  }
}
.titles-holder span {
  font-size: 24px;
  line-height: 25px;
  text-transform: uppercase;
  color: #A8A8A8;
}
@media (min-width: 769px) {
  .titles-holder span {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (min-width: 1025px) {
  .titles-holder span {
    font-size: 38px;
    line-height: 45px;
  }
}

.span-g {
  border-left: 2px solid #8DFD1B;
  padding: 0 20px;
  display: block;
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  color: #8DFD1B;
}
@media (min-width: 769px) {
  .span-g {
    padding-left: 22px;
    font-size: 21px;
    padding-right: 213px;
  }
}
@media (min-width: 1025px) {
  .span-g {
    padding-left: 22px;
    padding-right: 213px;
  }
}

.btn-wave {
  display: inline-block;
  color: #fff;
  font-family: "DM Mono";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: capitalize;
  padding: 10px 33px 16px;
  border: 1px solid #8DFD1B;
  transition: all ease-in-out 0.3s;
}
.btn-wave:hover {
  background-color: #8d0303;
  color: yellow;
  font-weight: 500;
  font-size: 20px;
}

.story-section {
  padding: 30px 0 120px;
}
.story-section .container .titles-holder {
  text-align: center;
  padding-bottom: 61px;
}
.story-section .container .titles-holder h2,
.story-section .container .titles-holder span {
  font-size: 37px;
  display: inline-block;
}
.story-section .container .flex-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1025px) {
  .story-section .container .flex-box {
    flex-direction: row;
    align-items: flex-start;
  }
}

.btn-item {
  display: block;
  color: #fff;
  padding: 25px 50px;
  cursor: pointer;
}
.btn-item span {
  text-align: center;
}
.btn-item.active-btn {
  background-color: #222222;
  color: #8DFD1B;
}
@media (min-width: 1025px) {
  .btn-item {
    text-align: left;
    padding: 25px 134px 31px 28px;
  }
}
.btn-item:hover {
  background-position: left;
}

.flex-box .flex-child:last-of-type {
  background-color: #222222;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media (min-width: 769px) {
  .flex-box .flex-child:last-of-type {
    padding: 60px;
  }
}
@media (min-width: 1025px) {
  .flex-box .flex-child:last-of-type {
    align-items: unset;
    justify-content: unset;
  }
}

.info-holder {
  max-width: 546px;
  width: 100%;
}
@media (min-width: 769px) {
  .info-holder {
    padding-left: 40px;
  }
}
.info-holder .span-g {
  padding: 10px 0;
  padding-left: 22px;
  margin-bottom: 32px;
}
.info-holder .text-holder p {
  margin-bottom: 17px;
  padding-left: 22px;
  font-size: 14px;
}
@media (min-width: 769px) {
  .info-holder .text-holder p {
    font-size: 16px;
    padding: 0;
  }
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 769px) {
  .btn-list {
    flex-direction: row;
  }
}
@media (min-width: 1025px) {
  .btn-list {
    display: block;
  }
}

.image-section .container {
  margin: 0 auto;
  width: 1440px;
  max-width: 100%;
  height: 240px;
  background-size: contain;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=main.css.map */
