*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $black;
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
}

h1,
p,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1190px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.text-holder {
    font-family: $inter;
    font-size: 16px;
    line-height: 26px;
    color: $white;
}

.btn {
    display: inline-block;
    font-family: $dmmono;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: capitalize;
    color: $black;
    padding: 17px 40px 27px;
    background: $green;
    transition: all ease-in-out .3s;

    &:hover {
        background-color: #8d0303;
        color: yellow;
        font-weight: 500;
        font-size: 20px;
    }
}